body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    background-color: rgb(43, 43, 43);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    height: 50px;
    text-align: left;
    border: none;
    background-color:  rgb(61, 61, 61);
    color: white;
    font-size:5rem ;
}
#keys {
    display: flex;
    flex-wrap: wrap;       
    gap: 10px;             
    padding: 25px;

}

#keys > * {
    flex: 1 1 calc(25% - 10px); 
    
    box-sizing: border-box;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}




.operator_btn{
    background-color: hsl(35, 100%, 55%);
}
.operator_btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator_btn:active{
    background-color: hsl(35, 100%, 75%);
}
@media screen and (max-width: 990px) {
   #calculator {
      width: 100%;
   }
}
